{% load static %}
<header class="header">
    <div class="container">
        <div class="header__content">
            {% if not request.user.is_anonymous %}
                <a href="{% url "mainapp:groups" %}" class="header__logo-link" title="Мои группы">
                    <img src="{% static "img/logo.png" %}" alt="KiberOne" class="header__logo">
                </a>
            {% elif request.student %}
                <a href="{% url "mainapp:student_personal_area" %}" class="header__logo-link" title="Моя страница">
                    <img src="{% static "img/logo.png" %}" alt="KiberOne" class="header__logo">
                </a>
            {% endif %}
            <nav class="header__nav nav">
                {% if not request.user.is_anonymous %}
                    <a href="{% url "mainapp:groups" %}" class="nav__link">Мои группы</a>
                    <a href="{% url "mainapp:kiberon-log" %}" class="nav__link btn_modal">Журнал</a>
                {% elif request.student %}
                    <a href="{% url "mainapp:student_group" %}" class="nav__link">Моя группа</a>
                {% endif %}
                <a href="{% url "test:test-list" %}" class="nav__link btn_modal">Тесты</a>
                <a href="{% url "test:tests-result-list" %}" class="nav__link btn_modal">Результаты тестов</a>
            </nav>
            <div class="header__user user">
                <div
                        class="theme-switcher {% if not request.user.is_anonymous and not request.user.dark_theme_enabled %}theme-switcher_light{% else %}theme-switcher_dark{% endif %}"
                        id="theme-switcher"
                        data-url="{% url "authapp:switch_theme" %}"
                        title="{% if not request.user.is_anonymous and not request.user.dark_theme_enabled %}Включить темную тему{% else %}Включить светлую тему{% endif %}"
                >
                    <svg fill="#fff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="20px" height="20px" viewBox="0 0 565.489 565.489"
                         xml:space="preserve">
                        <g>
                            <g>
                                <path d="M214.936,433.36c0,0,0.718,7.918,0.707,23.985h-0.707v26.413l139.88-15.483c-0.129-4.379-0.222-7.776-0.269-9.552
                                    c-0.397-14.444-0.421-21.252-0.292-24.312c0.14-0.374,0.245-0.677,0.408-1.052h0.164c0,0-0.023-0.163-0.047-0.314
                                    c21.836-56.155,96.499-215.945,96.499-264.521C451.256,75.609,375.659,0,282.739,0c-92.921,0-168.53,75.609-168.53,168.524
                                    c0,55.367,77.291,208.121,101.065,264.836H214.936z M282.739,23.915c79.749,0,144.627,64.866,144.627,144.609
                                    c0,41.051-67.891,187.043-97.691,263.085l-88.763,1.005c-31.389-74.057-102.788-216.628-102.788-264.09
                                    C138.124,88.781,202.99,23.915,282.739,23.915z"/>
                                <path d="M214.936,509.788c-0.572,0.396-1.051,6.865,1.354,15.215l137.989-15.285c0.046-0.992,0.104-1.857,0.222-2.499
                                    c0.514-3.258,0.678-10.451,0.654-18.38l-140.219,15.543V509.788z"/>
                                <path d="M286.23,565.487c45.71,0.223,60.423-18.345,65.327-34.844l-124.46,13.802C237.215,555.655,254.982,565.334,286.23,565.487
                                    z"/>
                            </g>
                        </g>
                    </svg>
                </div>
                <img src="{% static "img/user.svg" %}" alt="" class="user__icon">
                {% if not request.user.is_anonymous %}
                    <a href="{% url "authapp:password-change" %}" class="user__name">Привет, {{ request.user.first_name }}</a>
                    <a href="{% url "authapp:logout" %}" class="user__logout">Выход</a>
                {% elif request.student %}
                    <a href="{% url "mainapp:student_personal_area" %}" class="user__name" title="Моя страница">Привет, {{ request.student.name }}</a>
                    <a href="{% url "authapp:student_logout" %}" class="user__logout">Выход</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>