{% load static %}
{% for student_of_group in students %}
    <tr class="group-table__row {% if student == student_of_group %}group-table__row_its_me{% endif %}" id="student-row-{{ student_of_group.pk }}">
        <td>{{ forloop.counter }}</td>
        <td>{{ student_of_group.name }}</td>
        <td>{{ student_of_group.kiberon_amount }}</td>
        {% if not request.user.is_anonymous %}
            <td>
                <div class="actions">
                    <button class="btn btn_darkblue btn_modal btn_round-icon" data-student-id="{{ student_of_group.pk }}"
                            data-modal-id="update-student-modal-{{ student_of_group.pk }}" title="Редактировать">
                        <img src="{% static 'img/pencil.svg' %}" alt="Редактировать">
                    </button>
                    {% if request.user == student_of_group.group.tutor %}
                        <button class="btn btn_red btn_modal btn_round-icon btn_student_remove" data-student-id="{{ student_of_group.pk }}"
                                data-modal-id="remove-student-modal" title="Удалить">
                            <img src="{% static 'img/delete.svg' %}" alt="Удалить">
                        </button>
                    {% endif %}
                    <button class="btn btn_yellow btn_modal btn_student_kiberon"
                            title="Добавить кибероны"
                            data-modal-id="custom-kiberon"
                            data-student-id="{{ student_of_group.pk }}">+
                    </button>
                    <button class="btn btn_blue btn_modal btn_student_kiberon_remove"
                            title="Удалить кибероны"
                            data-modal-id="custom-kiberon-remove"
                            data-student-id="{{ student_of_group.pk }}">-
                    </button>
                    {% if fair_is_active %}
                        <button data-student-id="{{ student_of_group.pk }}"
                                data-modal-id="fair" title="Ярмарка"
                                data-url="{% url 'fair:souvenirs' %}"
                                data-student-name="{{ student_of_group.name }}"
                                data-kiberons="{{ student_of_group.kiberon_amount }}"
                                class="btn btn_fair btn_modal">
                            <img src="{% static "img/present-svgrepo-com.svg" %}" alt="" class="fair-icon">
                        </button>
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="checkbox">
                    <input type="checkbox" data-student-id="{{ student_of_group.pk }}"
                           id="student-check-{{ student_of_group.pk }}" class="checkbox__native student-checkbox"/>
                    <label for="student-check-{{ student_of_group.pk }}" class="checkbox__label"></label>
                </div>
            </td>
        {% endif %}
    </tr>
{% endfor %}