{% load static %}
{% for student in students %}
    <tr class="group-table__row" id="student-row-{{ student.pk }}">
        <td>{{ forloop.counter }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.kiberon_amount }}</td>
        <td>
            <div class="actions">
                <button class="btn btn_darkblue btn_modal" data-student-id="{{ student.pk }}"
                        data-modal-id="update-student-modal-{{ student.pk }}">Редактировать
                </button>
                {% if request.user == student.group.tutor %}
                    <button class="btn btn_red btn_modal btn_student_remove" data-student-id="{{ student.pk }}"
                            data-modal-id="remove-student-modal">Удалить
                    </button>
                {% endif %}
                <button class="btn btn_yellow btn_modal btn_student_kiberon"
                        title="Добавить кибероны"
                        data-modal-id="custom-kiberon"
                        data-student-id="{{ student.pk }}">+
                </button>
                <button class="btn btn_blue btn_modal btn_student_kiberon_remove"
                        title="Удалить кибероны"
                        data-modal-id="custom-kiberon-remove"
                        data-student-id="{{ student.pk }}">-
                </button>
                {% if fair_is_active %}
                    <button data-student-id="{{ student.pk }}"
                            data-modal-id="fair" title="Ярмарка"
                            data-url="{% url 'fair:souvenirs' %}"
                            data-student-name="{{ student.name }}"
                            data-kiberons="{{ student.kiberon_amount }}"
                            class="btn btn_fair btn_modal">
                        <img src="{% static "img/present-svgrepo-com.svg" %}" alt="" class="fair-icon">
                    </button>
                {% endif %}
            </div>
        </td>
        <td>
            <div class="checkbox">
                <input type="checkbox" data-student-id="{{ student.pk }}"
                       id="student-check-{{ student.pk }}" class="checkbox__native student-checkbox"/>
                <label for="student-check-{{ student.pk }}" class="checkbox__label"></label>
            </div>
        </td>
    </tr>
{% endfor %}