{% extends "mainapp/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% blocktrans %}Изменение пароля{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans %}Изменение пароля{% endblocktrans %}{% endblock %}
{% block inside_content %}
    <form action="{% url 'authapp:password-change' %}" method="post" class="login__form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="form_errors">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-input form-input_login">
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                    <div class="form_errors">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn_blue">{% trans "Поменять пароль" %}</button>
    </form>
{% endblock %}