{% extends "mainapp/base.html" %}
{% block title %}{{ test.name }}{% endblock %}
{% block page_title %}{{ test.name }}{% endblock %}
{% block inside_content %}
    <h2>Необходимое количество правильных ответов: {{ test.corrects_to_pass }}</h2>
    <form method="post" action="{% url 'test:test' test_id=test.pk %}">
        {% csrf_token %}
        <div class="form-input">
            <label for="name">Фамилия Имя</label>
            <input type="text" name="name" required="required">
        </div>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="question">
                <h3>Вопрос {{ forloop.counter }}</h3>
                {{ form.desc|safe }}
                {{ form }}
            </div>
        {% endfor %}
        <button class="btn btn_big btn_blue" type="submit">Отправить</button>
    </form>
{% endblock %}