{% extends "mainapp/base.html" %}
{% block title %}
    Тесты
{% endblock %}
{% block inside_content %}
    <ul class="tests">
        {% for test in tests %}
            <li class="test__item">
                <a href="{% url "test:test" test.pk %}" class="test__link">{{ test.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}
            <span class="current">
                страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}