.group-table {
  width: 100%;
  border: none;
  th {
    text-align: center;
    padding: 10px 20px;
    @media (min-width: 992px) {
      padding: 15px 45px;
    }
    color: #fff;
    background-color: $yellow;
    font-weight: normal;
  }

  td {
    text-align: center;
    padding: 5px 10px;
    @media (min-width: 992px) {
      padding: 5px 25px;
    }
  }

  th:last-child, td:last-child {
    padding: 15px;
  }

  &__row {
    td {
      transition: .3s;
    }

    &:nth-child(odd):not(.group-table__row_its_me) {
      td {
        background-color: #9C9C9C1A;
      }
    }
    &:hover:not(.group-table__row_its_me) {
      td {
        background-color: rgba(41, 89, 117, 0.3);
      }
    }
    &_temporary {
      td {
        background-color: rgba(213, 176, 34, 0.3);
      }
    }
    &_its_me {
      td {
        background-color: rgba(11, 120, 215, 0.3);
      }
    }
  }
}

.days-of-week__section {
  margin-bottom: 50px;
}


.kiberon-reg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 120px;
  border-bottom: 2px solid $blue;
  padding: 10px 15px;
  transition: .3s;
}

.kiberon-reg:hover {
  background-color: rgba(97, 185, 217, 0.51);
}

.question {
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.test-result {
  max-width: 600px;
  padding: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3s);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  &_success {
    color: #075b07;
    font-size: 24px;
  }
  &_fail {
    color: #320909;
    font-size: 22px;
  }
}


// sorts
.sortable_col {
  position: relative;
}

.sort_by {
  position: absolute;
  right: 10px;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  &_asc {
    border-bottom: 7px solid $darkblue;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid transparent;
    top: 0;
    bottom: 5px;
  }
  &_desc {
    border-top: 7px solid $darkblue;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid transparent;
    top: 5px;
    bottom: 0;
  }
}

.table-wrapper, .groups-sublist {
  position: relative;
  overflow-x: auto;
}

.loading {
  display: none;
  &_active {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

// tests

.tests {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.test__link {
  display: block;
  text-decoration: none;
  padding: 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: $text-color-dark;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
  &:hover {
    transition: .3s;
    transform: scale(1.04);
    box-shadow: 2px 2px 25px rgba(0,0,0,0.05);
  }
}

.visited-filter {
  display: flex;
  &__item {
    padding: 10px 30px;
    cursor: pointer;
    position: relative;
    font-size: 0.875rem;
    overflow: clip;
    transition: .4s;
    border: 1px solid $blue;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 0;
      width: 100%;
      transition: .4s;
      background-color: $blue;
      z-index: -1;
    }
    &:first-child {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    &:last-child {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    &_active {
      color: #fff;
      cursor: default;
      &:before {
        height: 100%;
      }
    }
  }
}

.create-group-btn {
  background-color: $blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.student-kiberons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: $yellow;
  font-size: 1.25rem;
  margin-bottom: 20px;
}