input[type="text"], input[type="password"], textarea, input[type="number"], input[type="email"] {
  display: block;
  border: 2px solid $yellow;
  padding: 15px 20px;
  outline: none;
  width: 100%;
  max-width: 360px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

select {
  border: 2px solid $yellow;
  padding: 7px 12px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #4e4c4c;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: .3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  &_primary {
    background-color: $red;

    :hover {
      background-color: darken($red, 10%);
    }
  }

  &_blue {
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 10%);
    }
  }

  &_darkblue {
    background-color: $darkblue;
  }

  &_yellow {
    background-color: $yellow;
    &:hover {
      background-color: darken($yellow, 10%);
    }
  }

  &_red {
    background-color: $red;
    transition: .3s;

    &:hover {
      background-color: darken($red, 10%);
    }
  }

  &_big {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &_center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  &_student_kiberon, &_student_kiberon_remove {
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  &_fair {
    background-color: transparent;
    padding: 0;
    width: 35px;
    height: 35px;
    box-shadow: none;
  }

  :disabled {
    background-color: grey;
    cursor: default;
    opacity: 0.55;
  }
}

.form-input {
  margin-bottom: 20px;
  margin-right: 20px;

  label {
    font-size: 0.875rem;
    display: block;
    margin-bottom: 5px;
  }

  &_login {
    width: 360px;
    margin-right: 0;
    input {
      border: none;
    }
  }
  &_password {
    position: relative;
  }
}

.form_errors {
  width: 340px;
  margin-bottom: 25px;
  padding: 10px;
  border: 2px solid $red;
  background-color: rgba(105, 37, 40, 0.2);
}

.form_success {
  width: 340px;
  margin-bottom: 25px;
  padding: 10px;
  border: 2px solid #509a3f;
  background-color: rgba(190, 255, 175, 0.2);
}

.checkbox {
  &__label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 30px;
      height: 30px;
      display: block;
      border: 1px solid $blue;
      background-color: #fff;
      cursor: pointer;
      transition: .2s;
    }
  }

  &__native {
    display: none;

    &:checked + .checkbox__label:before {
      transform: rotate(40deg) translate(-7px, -4px);
      border-top-width: 0;
      border-color: #1d5f77;
      border-top-color: transparent;
      border-left-color: transparent;
      width: 15px;
      margin-left: 10px;
      background-color: transparent;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bulk-students-form {
  display: flex;
  align-items: center;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.question {
  border: none;
}

.answers {
  label, input[type="radio"] {
    cursor: pointer;
  }
}

.answer {
  cursor: pointer;
}

.form {
  &_filter {
    display: flex;
    align-items: center;
  }
}

.show_password {
  position: absolute;
  right: 10px;
  z-index: 99;
  bottom: 5px;
  width: 25px;
  cursor: pointer;
}
