.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  &__form-wrapper {
    background-color: $blue;
    position: relative;
  }
  &__form-container {
    position: relative;
    z-index: 1;
    background-color: $blue;
    width: 625px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  &__logo {
    position: absolute;
    z-index: -1;
    &_top {
      top: -230px;
      left: -200px;
    }
    &_bottom {
      bottom: -190px;
      left: -200px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.75rem;
  }
  &__form-switcher {
    position: absolute;
    bottom: 100%;
    width: 50%;
    height: 60px;
    background-color: $darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    &:first-child {
      left: 0;
    }
    &:nth-child(2) {
      right: 0;
    }
    &_active {
      opacity: 0.5;
    }
  }
}