{% extends "mainapp/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ group.get_location }} {{ group.get_time_display }}{% endblock %}
{% block page_title %}{{ group.get_location_display }} {{ group.get_time_display }}{% endblock %}
{% block inside_content %}
    <div class="btn btn_modal" data-modal-id="create-student-modal">Добавить ученика</div>
    <table class="group-table">
        <tr class="group-table__row">
            <th>Фамилия Имя</th>
            <th>Кол-во киберонов</th>
            <th>Действия</th>
        </tr>
        {% for student in students %}
            <tr class="group-table__row">
                <td>{{ student.name }}</td>
                <td>{{ student.kiberon_amount }}</td>
                <td>
                    <button class="btn btn_yellow" data-student-id="{{ student.pk }}">Редактировать</button>
                    <button class="btn btn_red btn_modal" data-student-id="{{ student.pk }}"
                            data-modal-id="remove-modal">Удалить
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block modals %}
    {{ block.super }}
    <div id="create-student-modal" class="modal">
        <div class="modal__content">
            <span class="close" data-close-modal-id="create-student-modal">&times;</span>
            <form id="createStudentForm" data-action="{% url "mainapp:create-student" group.pk %}">
                {% csrf_token %}
                {% for field in create_student_form %}
                    {% if field not in remove_form.hidden_fields %}
                    <div class="form-input form-input_login">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <button class="btn btn_blue" type="submit">Добавить</button>
            </form>
        </div>
    </div>
{% endblock %}