{% extends "mainapp/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% blocktrans %}Мои группы{% endblocktrans %}{% endblock %}
{% block page_title %}Мои группы{% endblock %}
{% block inside_content %}
    <div class="days-of-week">
        {% for day_of_week_section in groups_by_days %}
            <div class="days-of-week__section">
                <div class="day-of-week subtitle">
                    {{ day_of_week_section.day_of_week }}
                </div>
                <div class="groups-sublist">
                    <table class="group-table">
                        <tr class="group-table__row">
                            <th>Время</th>
                            <th>Локация</th>
                            <th>Кол-во учеников</th>
                            <th>Действия</th>
                        </tr>
                        {% for group in day_of_week_section.groups %}
                            <tr class="group-table__row">
                                <td>{{ group.get_time_display }}</td>
                                <td>{{ group.get_location_display }}</td>
                                <td>{{ group.students_amount }}</td>
                                <td>
                                    <button class="btn btn_blue">Войти</button>
                                    <button class="btn btn_yellow">Редактировать</button>
                                    <button class="btn btn_red btn_modal" data-group-id="{{ group.pk }}" data-modal-id="remove-modal">Удалить</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block modals %}
    <div id="remove-modal" class="modal">
        <div class="modal__content">
            <span class="close" data-close-modal-id="remove-modal">&times;</span>
            <form action="{% url "mainapp:remove-group" %}" method="post">
                {% csrf_token %}
                {% for field in remove_form %}
                    {% if field not in remove_form.hidden_fields %}
                    <div class="form-input form-input_login">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <button class="btn btn_red" type="submit">Удалить</button>
            </form>
        </div>
    </div>
{% endblock %}