{% extends "mainapp/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% blocktrans %}Мои группы{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans %}Мои группы{% endblocktrans %}{% endblock %}
{% block inside_content %}
    {% if messages %}
        <ul class="messages messages_success">
            <div class="messages__close" title="Закрыть">&times;</div>
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <li{% if message.tags %} class="messages__message messages__message_{{ message.tags }} {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="messages messages_error">
            <div class="messages__close" title="Закрыть">&times;</div>
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <li{% if message.tags %} class="messages__message messages__message_{{ message.tags }} {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="days-of-week">
        {% for day_of_week_section in groups_by_days %}
            <div class="days-of-week__section">
                <div class="day-of-week subtitle">
                    {{ day_of_week_section.day_of_week }}
                </div>
                <div class="groups-sublist">
                    <table class="group-table" cellspacing="0" cellpadding="0">
                        <tr class="group-table__row">
                            <th>Время</th>
                            <th>Локация</th>
                            <th>Кол-во учеников</th>
                            <th>Действия</th>
                        </tr>
                        {% for group in day_of_week_section.groups %}
                            {% if group.tutor == request.user %}
                                <tr class="group-table__row" id="group-row-{{ group.pk }}">
                                    <td>{{ group.available_time }}</td>
                                    <td>{{ group.available_location }}</td>
                                    <td>{{ group.students_amount }}</td>
                                    <td>
                                        <a href="{% url "mainapp:student-list" group.pk %}" class="btn btn_blue btn_round-icon" title="Войти">
                                            <img src="{% static 'img/enter.svg' %}" alt="Удалить">
                                        </a>
                                        <button class="btn btn_yellow btn_modal btn_round-icon" data-group-id="{{ group.pk }}"
                                                data-modal-id="update-group-modal-{{ group.pk }}" title="Редактировать">
                                            <img src="{% static 'img/pencil.svg' %}" alt="Редактировать">
                                        </button>
                                        <button class="btn btn_red btn_modal btn_round-icon" data-group-id="{{ group.pk }}"
                                                data-modal-id="remove-modal" title="Удалить">
                                            <img src="{% static 'img/delete.svg' %}" alt="Удалить">
                                        </button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="group-table__row group-table__row_temporary" id="group-row-{{ group.pk }}"
                                    title="Временная группа тьютора: {{ group.tutor.first_name }} {{ group.tutor.last_name }}">
                                    <td>{{ group.available_time }}</td>
                                    <td>{{ group.available_location }}</td>
                                    <td>{{ group.students_amount }}</td>
                                    <td>
                                        <a href="{% url "mainapp:student-list" group.pk %}" class="btn btn_blue">Войти</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="create-group-btn btn_modal" data-modal-id="create-group-modal" title="Создать группу">
        <img src="{% static 'img/plus.svg' %}" alt="">
    </button>
{% endblock %}
{% block modals %}
    <div id="remove-modal" class="modal">
        <div class="modal__content modal__content_red">
            <span class="close" data-close-modal-id="remove-modal">&times;</span>
            <div class="modal__content-inside">
                <div class="modal__title modal__title_red">Удаление группы</div>
                <form id="removeGroupForm" data-action="{% url "mainapp:remove-group" %}">
                    {% csrf_token %}
                    {% for field in remove_form %}
                        {% if field not in remove_form.hidden_fields %}
                            <div class="form-input">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn_red btn_center" type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </div>
    <div id="create-group-modal" class="modal">
        <div class="modal__content modal__content_yellow">
            <span class="close" data-close-modal-id="create-group-modal">&times;</span>
            <div class="modal__content-inside">
                <div class="modal__title modal__title_yellow">Добавление<br>группы</div>
                <form id="createGroupForm" data-action="{% url "mainapp:create-group" %}" class="create-group-form">
                    {% csrf_token %}
                    <div class="form-flex">
                        {% for field in create_group_form %}
                            {% if field not in create_group_form.hidden_fields %}
                                <div class="form-input">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="btn btn_blue btn_center" type="submit">Создать</button>
                </form>
            </div>
        </div>
    </div>
    {% if update_group_forms %}
        {% for update_group_form in update_group_forms %}
            <div id="update-group-modal-{{ update_group_form.instance.pk }}" class="modal">
                <div class="modal__content modal__content_blue">
                    <span class="close"
                          data-close-modal-id="update-group-modal-{{ update_group_form.instance.pk }}">&times;</span>
                    <div class="modal__content-inside">
                        <div class="modal__title modal__title_blue">Редактирование группы</div>
                        <form action="{% url "mainapp:update-group" update_group_form.instance.pk %}" method="post">
                            {% csrf_token %}
                            <div class="form-flex">
                                {% for field in update_group_form %}
                                    {% if field not in update_group_form.hidden_fields %}
                                        <div class="form-input">
                                            {{ field.errors }}
                                            {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <button class="btn btn_yellow btn_center" type="submit">Обновить</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}