{% extends "mainapp/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% blocktrans %}Мои группы{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans %}Мои группы{% endblocktrans %}{% endblock %}
{% block inside_content %}
    <div class="btn btn_modal btn_blue" data-modal-id="create-group-modal">Добавить группу</div>
    {% if messages %}
        <ul class="messages messages_success">
            <div class="messages__close" title="Закрыть">&times;</div>
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <li{% if message.tags %} class="messages__message messages__message_{{ message.tags }} {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="messages messages_error">
            <div class="messages__close" title="Закрыть">&times;</div>
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <li{% if message.tags %} class="messages__message messages__message_{{ message.tags }} {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="days-of-week">
        {% for day_of_week_section in groups_by_days %}
            <div class="days-of-week__section">
                <div class="day-of-week subtitle">
                    {{ day_of_week_section.day_of_week }}
                </div>
                <div class="groups-sublist">
                    <table class="group-table">
                        <tr class="group-table__row">
                            <th>Время</th>
                            <th>Локация</th>
                            <th>Кол-во учеников</th>
                            <th>Действия</th>
                        </tr>
                        {% for group in day_of_week_section.groups %}
                            <tr class="group-table__row" id="group-row-{{ group.pk }}">
                                <td>{{ group.get_time_display }}</td>
                                <td>{{ group.get_location_display }}</td>
                                <td>{{ group.students_amount }}</td>
                                <td>
                                    <a href="{% url "mainapp:student-list" group.pk %}" class="btn btn_blue">Войти</a>
                                    <button class="btn btn_yellow btn_modal" data-group-id="{{ group.pk }}"
                                            data-modal-id="update-group-modal-{{ group.pk }}">Редактировать
                                    </button>
                                    <button class="btn btn_red btn_modal btn_group_remove" data-group-id="{{ group.pk }}"
                                            data-modal-id="remove-modal">Удалить
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block modals %}
    <div id="remove-modal" class="modal">
        <div class="modal__content">
            <span class="close" data-close-modal-id="remove-modal">&times;</span>
            <form id="removeGroupForm" data-action="{% url "mainapp:remove-group" %}">
                {% csrf_token %}
                {% for field in remove_form %}
                    {% if field not in remove_form.hidden_fields %}
                        <div class="form-input">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <button class="btn btn_red btn_center" type="submit">Удалить</button>
            </form>
        </div>
    </div>
    <div id="create-group-modal" class="modal">
        <div class="modal__content">
            <span class="close" data-close-modal-id="create-group-modal">&times;</span>
            <form id="createGroupForm" data-action="{% url "mainapp:create-group" %}" class="create-group-form">
                {% csrf_token %}
                <div class="form-flex">
                    {% for field in create_group_form %}
                        {% if field not in create_group_form.hidden_fields %}
                            <div class="form-input">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="btn btn_blue btn_center" type="submit">Создать</button>
            </form>
        </div>
    </div>
    {% if update_group_forms %}
        {% for update_group_form in update_group_forms %}
            <div id="update-group-modal-{{ update_group_form.instance.pk }}" class="modal">
                <div class="modal__content">
                    <span class="close"
                          data-close-modal-id="update-group-modal-{{ update_group_form.instance.pk }}">&times;</span>
                    <form action="{% url "mainapp:update-group" update_group_form.instance.pk %}" method="post">
                        {% csrf_token %}
                        <div class="form-flex">
                            {% for field in update_group_form %}
                                {% if field not in update_group_form.hidden_fields %}
                                    <div class="form-input">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="btn btn_yellow btn_center" type="submit">Обновить</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}