{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
        {% compress css %}
            <link rel="stylesheet" href="{% static "css/style.scss" %}" type="text/x-scss">
            {% if fair_is_active %}
                <link rel="stylesheet" href="{% static "css/fair.scss" %}" type="text/x-scss">
            {% endif %}
        {% endcompress %}
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block modals %}{% endblock %}
    {% block js %}
        <script src="{% static "js/cookie.js" %}"></script>
        <script src="{% static "js/async_requests.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        {% if fair_is_active %}
            <script src="{% static "js/fair.js" %}"></script>
        {% endif %}
    {% endblock %}
</body>
</html>